<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title> 
    </head>
    <body>
         {{> header }}
        <p>here we go with about page</p>
        {{> footer }}
        {{!-- <footer>
            <p>
                Copyright {{ currentYear }}
            </p>
        </footer> --}}
    </body>
</html>